html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 4rem 0 0 4rem;
}

.header img {
    width: 25rem;
    height: auto;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem;
}

.main .infos {
    color: #fff;
    max-width: 60rem;
    margin-left: 7rem;
}

.main .infos h1 {
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.main .infos p {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-register {
    background-color: #fff;
    width: 18rem;
    height: 5rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0.2rem 0.3rem 0.3rem hsla(0, 0%, 0%, 0.24)
}

.btn-register span {
    color: hsla(257, 40%, 49%, 0.733);
    font-weight: 600;
    font-size: 1.5rem;
}

.btn-register:hover {
    background-color: hsl(300, 69%, 71%);
}

.btn-register:hover span {
    color: #fff;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    font-size: 2rem;
    padding: 0 5rem 5rem 0;
}

.footer ul {
    display: flex;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
    border: 0.19rem solid #fff;
    border-radius: 50%;
    margin-left: 2rem;
}

.footer i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer a:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}